<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <div class="text-center">
              <img src="assets/book-16 (1).svg"
                style="width: 185px;" alt="logo">
            </div>

            <h2 class="fw-bold mb-5">Sign up</h2>
            <p>{{message}}</p>

            <form (ngSubmit)="onRegister()" #loginForm="ngForm">

              <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
                <label for="username">Username</label>
              </div>


              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password"
                  required />
                <label class="form-label" for="password">Password</label>
              </div>

              <button class="btn btn-primary btn-block mb-4" type="submit" [disabled]="!loginForm.form.valid">Sign
                up</button>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/ficus.jpg" class="w-100 rounded-4 shadow-4 trimmed-height"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

<!-- 
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h1>Sign up</h1>

            <p>{{message}}</p>

            <form (ngSubmit)="onRegister()" #loginForm="ngForm">

              <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
                <label for="username">Username</label>
              </div>


              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password"
                  required />
                <label class="form-label" for="password">Password</label>
              </div>

              <button class="btn btn-primary btn-block mb-4" type="submit" [disabled]="!loginForm.form.valid">Sign
                up</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->