<div>
  <h2>Comments for {{book.name}}</h2>

  <!-- Form for adding new comments -->
  <form (ngSubmit)="addComment(commentText.value); commentText.value=''">
    <input #commentText type="text" placeholder="Enter your comment" required>
    <button type="submit">Add Comment</button>
  </form>

  <!-- List of comments -->
  <ul>
    <li *ngFor="let comment of comments">

      <!-- Display comment details -->
      <div>
        <!-- <h3>{{ comment.username }} ({{ comment.timestamp }})</h3> -->
        <h3>({{ comment.timeStamp }})</h3>
        <p>{{ comment.commentText }}</p>
      </div>

      <!-- Form for updating comment -->
      <form *ngIf="comment.id === editingCommentId" 
            (ngSubmit)="updateComment(comment.id, updatedCommentText); editingCommentId = null">
        <input [(ngModel)]="comment.commentText" name="updatedCommentText" required>
        <button type="submit">Save</button>
        <button type="button" (click)="editingCommentId = null">Cancel</button>
      </form>

      <!-- Buttons for editing and deleting comment -->
      <div *ngIf="comment.id !== editingCommentId">
        <button (click)="editingCommentId = comment.id">Edit</button>
        <button (click)="deleteComment(comment)">Delete</button>
      </div>
      
    </li>
  </ul>
</div>
