<!-- <div *ngIf="book">
  <img *ngIf="book.coverImageUrl!=null" 
  [src]="book.coverImageUrl || 'default/image/url/'" 
  alt="{{ book.name }} cover" 
  class="book-cover">
  <h2>{{ book.name }}</h2>
  <p>{{ book.author }}</p>
  <p>{{ book.yearOfPublication }}</p>
  <p>{{ book.genre }}</p>
  <button (click)="addToFavorites()">Add to Favorites</button>
  <button (click)="removeFromFavorites()">Remove from Favorites</button>

  <app-comments [book]="book"></app-comments>
</div> -->
<div *ngIf="book">
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <div *ngIf="book" class="d-flex align-items-center">
          <img *ngIf="book.coverImageUrl != null" [src]="book.coverImageUrl" alt="{{ book.name }} cover"
            class="book-cover">
          <div>
            <h1 class="card-title">{{ book.name }}</h1>
            <h2 class="card-text">{{ book.author }}</h2>
            <p class="card-text">{{ book.yearOfPublication }}</p>
            <p class="card-text">{{ book.genre }}</p>
          </div>
        </div>
        <!-- <div class="d-grid gap-2 mt-3">
        <button (click)="addToFavorites()" class="btn btn-primary">Add to Favorites</button>
        <button (click)="removeFromFavorites()" class="btn btn-secondary">Remove from Favorites</button>
      </div> -->

        <app-favorites-button [bookId]="book.id"></app-favorites-button>

        <app-comments [book]="book"></app-comments>
      </div>
    </div>
  </div>

</div>